.checkboard {
  position: absolute;
  inset: 0px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAA0VXHyAAAAL0lEQVQ4EWNkYGAQAWJ84A0+SSZ8ksTIjRrAwDDwYcBIRFThTScD74VRF1AhIQEAV5QBM/4e5XwAAAAASUVORK5CYII=);
  background-position: left center;
}
