.color {
  position: absolute;
  inset: 0;
  border-radius: 4px;
  overflow: hidden;
  transition: background 0.1s ease-out;
  cursor: pointer;
}

.pointer {
  position: absolute;
  cursor: pointer;
  // transition: all 50ms ease-out;
}

.circle {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 0 2px #fff, inset 0 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 1px 2px rgba(161, 104, 104, 0.2);
  border-radius: 50%;
  transform: translate(-2px, -2px);
}

.white {
  position: absolute;
  inset: 0;

  &-saturation {
    background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  }
}

.black {
  position: absolute;
  inset: 0;

  &-saturation {
    background: -webkit-linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  }
}
