.maze-carousel {
  position: relative;
  width: 500px;
  height: 320px;
  margin: 20px auto;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  background: #d3dce6;
}

.maze-carousel-arrow--hover:hover > .maze-carousel-button,
.maze-carousel-arrow--hover:hover > .maze-carousel-nav {
  opacity: 1;
  pointer-events: all;
}

.maze-carousel-arrow--hover:hover > .maze-carousel-button {
  transform: translate(0, -50%);
}

.maze-carousel-arrow--always > .maze-carousel-button {
  transform: translate(0, -50%);
}

.maze-carousel-arrow--never > .maze-carousel-button,
.maze-carousel-arrow--never > .maze-carousel-nav {
  opacity: 0;
  pointer-events: none;
}

.maze-carousel-arrow--always > .maze-carousel-button,
.maze-carousel-arrow--always > .maze-carousel-nav {
  opacity: 1;
  pointer-events: all;
}

.maze-carousel img {
  width: 500px;
  height: 100%;
  object-fit: cover;
}

.maze-carousel-track-container {
  height: 100%;
}

.maze-carousel-track {
  position: relative;
  transition: transform 0.3s ease-out;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.maze-carousel-slide {
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.maze-carousel-button {
  opacity: 0;
  font-size: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: none;
  padding: 6px;
  border-radius: 100%;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: all 0.15s ease-out;
  backdrop-filter: blur(2px);
  background: rgba(31, 45, 61, 0.11);
}

.maze-carousel-button:hover {
  background: rgba(31, 45, 61, 0.21);
}

.maze-carousel-button:active {
  background: rgba(31, 45, 61, 0.41);
}

.maze-carousel-button--left {
  left: 0;
  display: none;
  pointer-events: none;
  margin-left: 12px;
  transform: translate(-12px, -50%);
}

.maze-carousel-button--right {
  right: 0;
  margin-right: 12px;
  transform: translate(12px, -50%);
}

.maze-carousel-nav {
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s linear;
}

.maze-carousel-nav > button {
  width: 16px;
  height: 4px;
  padding: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 4px;
  transition: all 0.15s ease-out;
  background: rgba(255, 255, 255, 0.4);
}

.maze-carousel-nav .current-slide {
  background: white;
}
